# Proyecto ETL Migracion a PostgreSQL

In [1]:
#importando librerias
import pandas as pd
import numpy as np
import os

In [2]:
directorio = os.getcwd()

In [3]:
dataset_name = "jio_mart_items.csv"

In [4]:
#carga de datos
productos=pd.read_csv(os.path.join(directorio, dataset_name))

In [11]:
productos["category"].unique()

array(['Groceries', 'Home & Kitchen', 'Fashion', 'Electronics', 'Beauty',
       'Jewellery'], dtype=object)

In [9]:
list_id = range(1,len(list(np.unique(productos["category"]))))

In [14]:
category = pd.DataFrame({"category_name": np.unique(productos["category"]),
                        "category_id": list(range(1,len(productos["category"].unique()) + 1 ))})

In [15]:
list_id

range(1, 6)

In [16]:
category

    category_name  category_id
0          Beauty            1
1     Electronics            2
2         Fashion            3
3       Groceries            4
4  Home & Kitchen            5
5       Jewellery            6

In [17]:
productos

,category,sub_category,href,items,price
0,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Fresh Dates (Pack) (Approx 450 g - 500 g),109.0
1,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Tender Coconut Cling Wrapped (1 pc) (Approx 90...,49.0
2,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Mosambi 1 kg,69.0
3,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Orange Imported 1 kg,125.0
4,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Banana Robusta 6 pcs (Box) (Approx 800 g - 110...,44.0
...,...,...,...,...,...
162308,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 5.6 gm Ganesha Silver ...,1669.0
162309,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 4.58 gm Ganesha Silver...,1391.0
162310,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 2.31 gm Ganesha Silver...,834.0
162311,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 7.76 gm Ganesha Silver...,2276.0
162312,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 2.9 gm Balaji Silver Idol,834.0

In [18]:
# create table subcategory
sub_category = pd.DataFrame({"category_name": np.unique(productos["sub_category"]),
                        "category_id": list(range(1,len(productos["sub_category"].unique()) + 1 ))})

In [19]:
sub_category

            category_name  category_id
0             Accessories            1
1                 Apparel            2
2               Auto Care            3
3                   Ayush            4
4   Bags & Travel Luggage            5
..                    ...          ...
67     Tools & Appliances           68
68  Toys, Games & Fitness           69
69             Treatments           70
70               Wellness           71
71                  Women           72

[72 rows x 2 columns]

In [21]:
productos["items"].unique()

array(['Fresh Dates (Pack) (Approx 450 g - 500 g)',
       'Tender Coconut Cling Wrapped (1 pc) (Approx 900 g - 1300 g)',
       'Mosambi 1 kg', ...,
       'Reliance Jewels Ag 99.9 2.31 gm Ganesha Silver Idol',
       'Reliance Jewels Ag 99.9 7.76 gm Ganesha Silver Idol',
       'Reliance Jewels Ag 99.9 2.9 gm Balaji Silver Idol'], dtype=object)

In [22]:
productos["items"].value_counts()

Kiddiewink Cute Kid's Soft Velvet Animal Cartoon School Backpack Bag for Baby Boy/Girl(2-6 Years) Pack of 2    425
Black Product                                                                                                  335
Mriyangni Pendant Wall Lamp (Pack Of 2)                                                                        268
Mriyangni Pendants Ceiling Lamp                                                                                210
StoleVilla Women's Printed Chiffon Multicolored Scarf and Stoles with Tassels - Set of 2                       197
                                                                                                              ...
Nouvetta Turbo Grey Stainless Steel Double Walled Bottle 650 ml (NB-18628)                                       1
Nouvetta Summer Red Stainless Steel Double Walled Water Bottle 800 ml (NB-622)                                   1
Nouvetta Summer Black Stainless Steel Double Wall Insulated Bottle 800 ml (NB18621)                              1
Nouvetta Summer Brown Stainless Steel Double Walled Water Bottle 600 ml (NB-620)                                 1
Reliance Jewels Ag 99.9 2.9 gm Balaji Silver Idol                                                                1
Name: items, Length: 138211, dtype: int64

In [ ]:
for in in